html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Patua One", Georgia;
}

*::before,*::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f1ed;
  margin: 0;
}

h1 {
  margin: 1rem;
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
  width: 14rem;
}

img {
  width: 100%;
  margin: 1rem;
  padding: 1rem;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}
